@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: white;
    --secondary-color: #f7f8fa;
    --accent: #6444f4;
    --text-color: black;
}

[data-theme="dark"] {
    --primary-color: linear-gradient(to bottom, #2e263d, #434452);
    --secondary-color: #6444f4;
    --accent: #f7f8fa;
    --text-color: white;
}


